<div class="row">
    <div class="col-sm-4">
        <%= render 'profile'%>
    </div>
     <div class="col-sm-8">
         <div class="text-center">
             <h2><%= @user.first_name.capitalize %>'s Thoughts</h2>
         </div>
         <% if @user.id == current_user.id %>
             <div>
                 <%= render "form" %>
             </div>
         <% end %>
        <% @thoughts.each do |thought| %>
            <div class="thought_wrapper">
                <img src="http://placehold.it/40x40" class="thought_avatar">
                <h4><%= link_to "#{ thought.user.first_name.capitalize + " " + thought.user.last_name.capitalize }", profiles_show_path( :id => thought.user_id) %></h4>
                <p class="text-muted"><%= time_ago_in_words(thought.created_at) %> ago.</p>
                <div class="comment_counter">
                    <p><i class="fa fa-comment text-muted"></i>  <%= thought.comments.count %></p>
                </div>
                <hr>
                <div class="thought_content">
                    <p><%= thought.content %> </p>
                </div>
                <p>
                    <% if current_user.id == thought.user_id %>
                        <%= link_to "Edit", edit_thought_path(thought) %>
                        <%= link_to 'Destroy', thought_path(thought), method: :delete, data: {confirm: 'are you sure?'} %>
                    <% end %>
                </p>
                <hr>
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="btn-group-justified" role="group">
                            <div class="btn-group">
                                <%= link_to thought_path(thought), :class => "btn btn-default thought_button" do %>
                                    <i class="fa fa-eye"></i>
                                <% end %>    
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn  btn-default thought_button"><i class="fa fa-comment"></i></button>
                            </div>
                            <% if current_user.id != @user.id %>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default thought_button"><i class="fa fa-share"></i></button>
                            </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>
