<!-- Pending friend requests -->
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="thought_wrapper text-center">
            <h3>Pending Requests</h3>
            <table class="table table-striped">
                <tbody>
                    <% current_user.pending_requests.each do |friendship| %>
                            <tr>
                                <td><%= full_name(friendship.friend) %></td>
                                <td><%= link_to "Cancel Request", friendship, :method => :delete, :class => "btn btn-warning" %></td>
                            </tr>
                    <% end %>    
                </tbody>
            </table>
        </div><!-- end wrapper -->
    </div><!-- end col -->
</div><!-- end row -->

<!-- Recieved friend requests -->
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="thought_wrapper text-center">
            <h3>Friend Requests</h3>
            <table class="table table-striped">
                <tbody>
                    <% current_user.recieved_requests.each do |friendship| %>
                            <tr>
                                <td><%= full_name(friendship.user) %></td>
                                <td>
                                    <%= form_for friendship, :url => {:controller => 'friendships', :action => 'accept_request', :id => friendship.id }, :html => {method: :post} do |f| %>
                                        <%= f.submit "Accept", :class => "btn btn-success" %>
                                    <% end %>
                                </td>
                            </tr>
                    <% end %>    
                </tbody>
            </table>
        </div><!-- end wrapper -->
    </div><!-- end col -->
</div><!-- end row -->

<!-- Confirmed friends -->
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="thought_wrapper text-center">
            <h3>My Friends</h3>
            <table class="table table-striped">
                <tbody>
                    <% current_user.confirmed_friends.each do |friendship| %>
                            <% if friendship.friend_id == current_user.id %>
                                <tr>
                                    <td><%= full_name(friendship.user) %></td>
                                    <td><%= link_to "Unfriend", friendship, :method => :delete, :class => "btn btn-warning" %></td>
                                </tr>
                            <% else %>
                                <tr>
                                    <td><%= full_name(friendship.friend) %></td>
                                    <td><%= link_to "Unfriend", friendship, :method => :delete, :class => "btn btn-warning" %></td>
                                </tr>
                            <% end %>    
                    <% end %>    
                </tbody>
            </table>
        </div><!-- end wrapper -->
    </div><!-- end col -->
</div><!-- end row -->

<!-- Users who are not friends -->
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="thought_wrapper text-center">
            <h3>Find Friends</h3>
            <table class="table table-striped">
                <tbody>
                    <% @users.each do |user| %>
                        <% if user.id != current_user.id %>
                            <tr>
                                <td>
                                     <%= full_name(user) %> 
                                     <%= link_to "Add Friend", friendships_path(:friend_id => user.id), :method => :post, :class => "btn btn-success" %>
                                </td>
                            </tr>
                        <% end %>
                    <% end %>    
                </tbody>
            </table>
        </div><!-- end wrapper -->
    </div><!-- end col -->
</div><!-- end row -->