<!-- Pending friend requests -->
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="thought_wrapper text-center">
            <h3>Pending Requests</h3>
            <table class="table table-striped">
                <tbody id="pending_requests">
                    <% current_user.pending_requests.each do |friendship| %>
                        <tr>
                            <td><%= link_to full_name(friendship.friend), profiles_show_path(:id => friendship.friend.id) %></td>
                            <td><%= link_to "Cancel Request", friendship, :method => :delete, :class => "btn btn-warning" %></td>
                        </tr>
                    <% end %>    
                </tbody>
            </table>
        </div><!-- end wrapper -->
    </div><!-- end col -->
</div><!-- end row -->

<!-- Recieved friend requests -->
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="thought_wrapper text-center">
            <h3>Friend Requests</h3>
            <table class="table table-striped">
                <tbody id="recieved_requests">
                    <% current_user.recieved_requests.each do |friendship| %>
                            <tr>
                                <td><%= link_to full_name(friendship.user), profiles_show_path(:id => friendship.user.id) %></td>
                                <td>
                                    <%= form_for friendship, :url => {:controller => 'friendships', :action => 'update', :id => friendship.id }, :html => {method: :put} do |f| %>
                                        <%= f.submit "Accept", :class => "btn btn-success" %>
                                    <% end %>
                                </td>
                            </tr>
                    <% end %>    
                </tbody>
            </table>
        </div><!-- end wrapper -->
    </div><!-- end col -->
</div><!-- end row -->

<!-- Confirmed friends -->
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="thought_wrapper text-center">
            <h3>My Friends</h3>
            <table class="table table-striped">
                <tbody id="confirmed_friends">
                    <% current_user.confirmed_friends.each do |friendship| %>
                            <% if friendship.friend_id == current_user.id %>
                                <tr>
                                    <td><%= link_to full_name(friendship.user), profiles_show_path(:id => friendship.user.id) %></td>
                                    <td><%= link_to "Unfriend", friendship, :method => :delete, :class => "btn btn-warning" %></td>
                                </tr>
                            <% else %>
                                <tr>
                                    <td><%= link_to full_name(friendship.friend), profiles_show_path(:id => friendship.friend_id) %></td>
                                    <td><%= link_to "Unfriend", friendship, :method => :delete, :class => "btn btn-warning" %></td>
                                </tr>
                            <% end %>    
                    <% end %>    
                </tbody>
            </table>
        </div><!-- end wrapper -->
    </div><!-- end col -->
</div><!-- end row -->

<!-- Users who are not friends -->
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="thought_wrapper text-center">
            <h3>Find Friends</h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="row">
            <% @users.order("last_name ASC").each do |user| %>
                <% if user.id != current_user.id %>
                    <div class="col-xs-6">
                        <div class="thought_wrapper text-center">
                            <div class="network_avatar">
                                <%= image_tag user.avatar.url(:network) %>
                            </div>
                            <br>
                            <h3><%= link_to full_name(user), profiles_show_path(:id => user.id) %></h3>
                            <%= link_to "Add Friend", friendships_path(:friend_id => user.id), :method => :post, :class => "btn btn-success" %>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>      
</div>