
<div class="row">
     <div class="col-sm-8 col-sm-offset-2">
         <div>
             <%= render "form" %>
         </div>
        <% @thoughts.each do |thought| %>
            <div class="thought_wrapper">
                <img src="http://placehold.it/40x40" class="thought_avatar">
                <h4><%= link_to "#{ thought.user.first_name.capitalize + " " + thought.user.last_name.capitalize }", profiles_show_path( :id => thought.user_id) %></h4>
                <p class="text-muted"><%= time_ago_in_words(thought.created_at) %> ago.</p>
                <hr>
                <p><%= thought.content %> </p>
                <p>
                    <%= link_to "View", thought_path(thought) %>
                    <% if current_user.id == thought.user_id %>
                        <%= link_to "Edit", edit_thought_path(thought) %>
                        <%= link_to 'Destroy', thought_path(thought), method: :delete, data: {confirm: 'are you sure?'} %>
                    <% end %>
                </p>
            </div>
        <% end %>
    </div>
</div>





