<!-- News Feed -->
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <!-- form for user thoughts -->
        <div>
            <%= render "form" %>
        </div>
        <!-- main loop -->
        <div id="feed_loop">
            <% @thoughts.each do |thought| %>
                <div class="thought_wrapper" id="thought_<%= thought.id %>">
                    <div class="thought_avatar">
                         <%= image_tag thought.user.avatar.url(:thumb) %>
                    </div>
                    <h4><%= link_to "#{ full_name(thought.user) }", profiles_show_path( :id => thought.user_id) %></h4>
                    <p class="text-muted"><%= time_ago_in_words(thought.created_at) %> ago.</p>
                    <div class="comment_counter">
                        <p><i class="fa fa-comment text-muted"></i>  <%= thought.comments.count %></p>
                    </div>
                    <hr>
                    <div class="thought_content">
                        <p><%= thought.content %> </p>
                    </div>
                    <p>
                        <% if current_user.id == thought.user_id %>
                            <%= link_to "Edit", edit_thought_path(thought) %>
                            <%= link_to 'Destroy', thought_path(thought), method: :delete, data: {confirm: 'are you sure?'}, remote: true %>
                        <% end %>
                    </p>
                    <hr>
                    <div id="button_section_<%= thought.id %>">
                        <div id="button_section_content_<%= thought.id %>">
                            <div class="row">
                            <div class="col-sm-12">
                                <% if thought.likes.count > 0 %>
                                    <% if current_user.has_liked(thought.id) %>
                                        <% if thought.likes.count == 1 %>
                                            <p class="text-muted">You like this.</p>
                                        <% elsif thought.likes.count == 2 %>
                                            <p class="text-muted">You and 1 other person like this</p>
                                        <% elsif thought.likes.count > 2 %>
                                            <p class="text-muted">You and <%= thought.the_likes %> other people like this.</p>
                                        <% end %>
                                    <% else %>
                                        <% if thought.likes.count == 1 %>
                                            <p class="text-muted">1 person likes this.</p>
                                        <% elsif thought.likes.count > 1 %>
                                            <p class="text-muted"><%= thought.likes.count %> people like this.</p>
                                        <% end %>
                                    <% end %>
                                    <hr>
                                <% end %>
                            </div>
                        </div>
                        <!-- button group -->
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <div class="btn-group-justified" role="group">
                                    <div class="btn-group">
                                        <%= link_to thought_path(thought), :class => "btn btn-default thought_button" do %>
                                            <i class="fa fa-comment"></i> 
                                        <% end %>    
                                        </div>
                                        <div class="btn-group likes">
                                            <% if current_user.has_liked(thought.id) %>
                                                <div id="liked_icon_<%= thought.id %>">
                                                    <%= link_to like_path(thought, :thought_id => thought.id, :user_id => current_user.id ), remote: true, method: :delete, :class => "btn btn-default thought_button" do %>
                                                        <p><i class="fa fa-thumbs-o-up liked fa-lg"></i>  <%= thought.likes.count %></p>
                                                    <% end %>
                                                </div>
                                            <% else %>
                                                <div id="button_wrapper_<%= thought.id %>">
                                                    <%= link_to like_thought_path(thought), remote: true, method: :post, :class => "btn btn-default thought_button", :id => "unliked_thought_#{thought.id}" do %>
                                                        <p>
                                                            <i class="fa fa-thumbs-o-up"></i>
                                                             <% if thought.likes.count > 0 %>  
                                                                 <%= thought.likes.count %>
                                                             <% end %>
                                                        </p>
                                                    <% end %>
                                                </div>
                                            <% end %>    
                                        </div>
                                    </div><!-- end button group -->
                                </div><!-- end col(buttons) -->
                            </div><!-- end row(buttons) -->                            
                        </div>
                    </div>
                </div><!-- end thought wrapper -->
            <% end %><!-- end main loop -->
        </div>
    </div><!-- end col -->
</div><!-- end row -->