<!-- News Feed -->
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <!-- form for user thoughts -->
        <div>
            <%= render "form" %>
        </div>
        <!-- main loop -->
        <% @thoughts.each do |thought| %>
            <div class="thought_wrapper">
                <!-- placeholder for profile pic -->
                <img src="http://placehold.it/40x40" class="thought_avatar">
                <h4><%= link_to "#{ full_name(thought.user) }", profiles_show_path( :id => thought.user_id) %></h4>
                <p class="text-muted"><%= time_ago_in_words(thought.created_at) %> ago.</p>
                <div class="comment_counter">
                    <p><i class="fa fa-comment text-muted"></i>  <%= thought.comments.count %></p>
                </div>
                <hr>
                <div class="thought_content">
                    <p><%= thought.content %> </p>
                </div>
                <p>
                    <% if current_user.id == thought.user_id %>
                        <%= link_to "Edit", edit_thought_path(thought) %>
                        <%= link_to 'Destroy', thought_path(thought), method: :delete, data: {confirm: 'are you sure?'} %>
                    <% end %>
                </p>
                <hr>
                <!-- button group -->
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="btn-group-justified" role="group">
                            <div class="btn-group">
                                <%= link_to thought_path(thought), :class => "btn btn-default thought_button" do %>
                                    <i class="fa fa-eye"></i>
                                <% end %>    
                            </div>
                            <div class="btn-group">
                                <%= link_to thought_path(thought), :class => "btn btn-default thought_button" do %>
                                    <i class="fa fa-comment"></i>
                                <% end %>    
                            </div>
                        </div><!-- end button group -->
                    </div><!-- end col(buttons) -->
                </div><!-- end row(buttons) -->
            </div><!-- end thought wrapper -->
        <% end %><!-- end main loop -->
    </div><!-- end col -->
</div><!-- end row -->





