<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="thought_wrapper">
                <img src="http://placehold.it/40x40" class="thought_avatar">
                <h4><%= link_to "#{ @thought.user.first_name.capitalize + " " + @thought.user.last_name.capitalize }", profiles_show_path( :id => @thought.user_id) %></h4>
                <p class="text-muted"><%= time_ago_in_words(@thought.created_at) %> ago.</p>
                <div class="comment_counter">
                    <p><i class="fa fa-comment text-muted"></i>  <%= @thought.comments.count %></p>
                </div>
                <hr>
                <div class="thought_content">
                    <p><%= @thought.content %> </p>
                </div>
                <p>
                    <% if current_user.id == @thought.user_id %>
                        <%= link_to "Edit", edit_thought_path(@thought) %>
                        <%= link_to 'Destroy', thought_path(@thought), method: :delete, data: {confirm: 'are you sure?'} %>
                    <% end %>
                </p>
                <hr>
                <div class="text-center">
                    <h4>Comments</h4>
                </div>
                <% @thought.comments.each do |comment| %>
                <img src="http://placehold.it/40x40" class="thought_avatar">
                <h4><%= link_to "#{ comment.user.first_name.capitalize + " " + comment.user.last_name.capitalize }", profiles_show_path( :id => comment.user_id) %></h4>
                <p class="text-muted"><%= time_ago_in_words(comment.created_at) %> ago.</p>
                <hr>
                <div class="thought_content">
                    <p><%= comment.content %></p>
                    <% if current_user.id == comment.user_id %>
                        <%= link_to "Delete", [ comment.thought, comment], :method => :delete %>
                    <% elsif current_user.id == comment.thought.user_id %>
                        <%= link_to "Delete", [ comment.thought, comment], :method => :delete %>
                    <% end %>
                </div>
                <hr>
                <% end %>
                <%= render 'comment_form' %>
            </div>
    </div>
</div>