<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="thought_wrapper">
                <div class="thought_avatar">
                    <%= image_tag @thought.user.avatar.url(:thumb) %>
                </div>
                <h4><%= link_to "#{ full_name(@thought.user) }", profiles_show_path( :id => @thought.user_id) %></h4>
                <p class="text-muted"><%= time_ago_in_words(@thought.created_at) %> ago.</p>
                <div class="comment_counter">
                    <p><i class="fa fa-comment text-muted"></i>  <span id="the_count"><%= @thought.comments.count %></span></p>
                </div>
                <hr>
                <div class="thought_content">
                    <p><%= @thought.content %> </p>
                </div>
                <p>
                    <% if current_user.id == @thought.user_id %>
                        <%= link_to "Edit", edit_thought_path(@thought) %>
                        <%= link_to 'Destroy', thought_path(@thought), method: :delete, data: {confirm: 'are you sure?'} %>
                    <% end %>
                </p>
                <hr>
                <!-- like counter -->
                <div class="row">
                    <div class="col-sm-12">
                        <% if @thought.likes.count > 0 %>
                            <% if current_user.has_liked(@thought.id) %>
                                <% if @thought.likes.count == 1 %>
                                    <p class="text-muted">You like this.</p>
                                <% elsif @thought.likes.count == 2 %>
                                    <p class="text-muted">You and 1 other person like this</p>
                                <% elsif @thought.likes.count > 2 %>
                                    <p class="text-muted">You and <%= @thought.the_likes %> other people like this.</p>
                                <% end %>
                            <% else %>
                                <% if @thought.likes.count == 1 %>
                                    <p class="text-muted">1 person likes this.</p>
                                <% elsif @thought.likes.count > 1 %>
                                    <p class="text-muted"><%= @thought.likes.count %> people like this.</p>
                                <% end %>
                            <% end %>
                            <hr>
                        <% end %>
                    </div>
                </div>                
                <!-- comments -->
                <div class="text-center">
                    <h4>Comments</h4>
                </div>
                <!-- comments loop -->
                <div id="comments_loop">
                    <% @thought.comments.each do |comment| %>
                    <div id="comment_<%= comment.id %>" class="the_comment_content">
                        <img src="http://placehold.it/40x40" class="thought_avatar">
                        <h4><%= link_to "#{ comment.user.first_name.capitalize + " " + comment.user.last_name.capitalize }", profiles_show_path( :id => comment.user_id) %></h4>
                        <p class="text-muted"><%= time_ago_in_words(comment.created_at) %> ago.</p>
                        <hr>
                        <div class="thought_content">
                            <p><%= comment.content %></p>
                            <% if current_user.id == comment.user_id %>
                                <%= link_to "Delete", [ comment.thought, comment], :method => :delete, remote: true %>
                            <% elsif current_user.id == comment.thought.user_id %>
                                <%= link_to "Delete", [ comment.thought, comment], :method => :delete, remote: true %>
                            <% end %>
                        </div>
                        <hr>
                    </div><!-- end comment -->    
                    <% end %><!-- end comments loop -->
                </div>
                <%= render 'comment_form' %>    
        </div><!-- end thought wrapper -->
    </div><!-- end col -->
</div><!-- end row -->